.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  text-align: left;
}


/* boxes */
.boxes {
  padding-bottom: ($base-size)*2;
  text-align: center;

  .top {
    display: flex;
    flex-wrap: wrap;
  }

  .bottom {
    background-color: $color-main;
    border-radius: $radius;
    margin-bottom: 0;
  
    .box__content .box__subtitle {
      display: block;
      min-width: $home-size;
      @extend .h2;
      margin: 3px 0;
    }
  }
}

.box {
  display: block;
  box-sizing: border-box;
  min-width: $home-size;
  height: 119px;
  flex: 1 0 0;
  color: $color-light;
  margin: 3px;
  position: relative;

  &__image {
    @include image(100%, 100%);
  }

  &__content {
    @include center;
    width: 100%;

    .box__title {
      @extend .h1;
      margin: 0;
    }

    .box__subtitle {
      display: none;
      // visibility: hidden;
      // opacity: 0;
      font-weight: $font-normal;
    }
  }
}

/* carousel */

.carousel {
  padding: 76px 0;

  .opinion {
    opacity: 0;
    position: absolute;
    margin: auto;
    z-index: 1;
    display: flex;
    //flex-wrap: wrap;

    &.active {
      width: 100%;
      opacity: 1;
      position: relative;
      z-index: 10;
    }

    &__image {
      @include image ($home-size, $home-size);
      margin: 0 20px 0 0;  
    }

    &__wrapper {
      max-width: 400px;
      min-width: $home-size;
      text-align: left;
      margin: 0 0 0 20px;
      padding: 25px 0;
    }

    &__title {
      @extend .h2;
      line-height: 12px;
    }

    &__description {
      margin: 20px 0 24px;
      line-height: 23px;
    }

    span {
      font-style: italic;
      margin: $base-size 0 0 0;
      line-height: 10px;
    }
  }
}

.indicators {
  margin: auto;
  width: 80px;
  padding-top: 35px;

  &__points {
    list-style: none;
    display: flex;

    .indicators__point {
      background-color: $color-medium;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 8px;
  
      &.active {
        background-color: $color-dark;
      }
    }
  }
}


/* gallery */

.gallery__wrapper {
  margin: -6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__item {
  flex: 0 0 33.3333%;
  position: relative;

  .gallery__image {
    margin: 6px;
    @include image($home-size, $home-size);
    position: relative;

    img {
      @include image($home-size, $home-size);
    }

    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $radius;
      content: '';
      display: block;
      background-color: $color-dark;
      opacity: 0;
    }
  }

  .links {
    @include center;
    display: flex;
    font-size: 22px;
    list-style: none;
    visibility: hidden;

    li {
      &:first-of-type a {
        color: $color-danger;
      }
      a {
        color: $color-light;
        margin: 13px;
      }
    }
  }

  &:hover {
    .gallery__image::before{
      transition: $transition;
      opacity: 0.5;
    }
    .links {
      visibility: visible;
      transition: $transition;
    }
  }
}


.gallery__footer {
  margin: 31px 0 4px 0;
  display: block;
  color: $color-main;
}